---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Us - Elena & Marina's Wedding">
    <main class="bg-white text-gray-700 font-sans antialiased">
        <!-- Main Content Container -->
        <div class="container mx-auto py-5 px-6 space-y-14 md:space-y-16">
            <!-- Couple Description Section -->
            <h1
                class="text-4xl md:text-5xl font-serif font-medium text-center mb-10 text-gray-800 mt-10"
                data-aos="fade-down"
            >
                Así nos conocimos
            </h1>
            <section
                id="couple"
                class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-12 items-center py-10"
                data-aos="fade-up"
            >
                {/* Text Column */}
                <div class="md:order-1 text-left md:text-left">
                    <!-- Tab Navigation -->
                    <div class="flex space-x-4 mb-6">
                        <button
                            class="tab-button active px-4 py-2 text-lg font-medium border-b-2 border-gray-800 text-gray-800 transition-colors duration-200"
                            data-tab="elena"
                        >
                            Elena
                        </button>
                        <button
                            class="tab-button px-4 py-2 text-lg font-medium border-b-2 border-transparent text-gray-500 hover:text-gray-800 transition-colors duration-200"
                            data-tab="marina"
                        >
                            Marina
                        </button>
                    </div>

                    <!-- Tab Content -->
                    <div class="tab-content">
                        <div id="elena" class="tab-pane active">
                            <p
                                class="text-lg leading-relaxed mb-4 text-gray-600"
                            >
                                Hace 10 años Elena fue invitada a una
                                desconocida casa para participar en la
                                organización de un festival de ciencia y arte en
                                Barcelona, la persona que le abrió la puerta fue
                                Marina.

                                <br />
                                Lo que podría ser la sinopsis de un documental de
                                Filmin sobre Ciencia y Tecnología se convirtió en
                                una comedia francesa al más puro estilo Molière con
                                demasiados actores y actrices secundarios.
                                <br />
                                Elena, seria y comprometida con el evento, esperando
                                una cena a mesa puesta con mantel y servilletas de
                                tela, portaba un vino para sus anfitrionas.
                                <br />
                                Marina, que vivía en esa casa no estaba informada
                                de la celebración de ninguna cena. Además, sus invitados
                                ya ocupaban el salón y la organizadora de la cena
                                de Elena no había vuelto a casa aún.
                                <br />
                                Marina, acogedora, sonriente y resolutiva se propuso
                                hacer la cena para todos.
                                <br />
                                Finalmente, la anfitriona de la cena llegó con dos
                                copas de más, y la idea que tenía Elena en su cabeza
                                de cenar a mesa puesta se difuminó con el humo de
                                la primera calada del porro que se hizo la directora
                                del festival en cuanto llegó, una hora más tarde.
                                <br />
                                ✨ Serendipia ✨
                                <br />
                                …
                                <br />
                                ..
                                <br />
                                .
                                <br />
                                Meses después el festival se celebró con la participación
                                de Elena.
                                <br />
                                <br />
                                Marina y Elena 10 años más tarde ✨ se casan ✨
                            </p>
                        </div>
                        <div id="marina" class="tab-pane hidden">
                            <p
                                class="text-lg leading-relaxed mb-4 text-gray-600"
                            >
                                Abrí la puerta; tras ella, apareció una amiga
                                con la que no había quedado y a la que no
                                esperaba, Y alguien detrás de ella. Sostenía un
                                vino con una mirada curiosa e intrigante.
                                <br />
                                Al inicio pasé por alto esa nueva presencia y concentré
                                todos mis esfuerzos en celebrar que mi amiga hubiera
                                venido de forma tan aleatoria.
                                <br />
                                No estaba allí por casualidad. Por lo visto, esa
                                noche se celebraba una cena en mi casa, no estaba
                                invitada... y de la que nos acabaríamos encargando
                                mis amigos y yo.
                                <br />
                                No lo digo como algo negativo, pues la aleatoriedad
                                de los acontecimientos en esa época me fascinaba.
                                Sabías cómo empezabas el día, pero nunca cómo terminabas.
                                <br />
                                Y así fue, como sin saber por qué, empecé el día
                                como cualquier otro y lo terminé mejor de lo que
                                nunca hubiera imaginado.
                                <br />
                                <br />
                                Diez años más tarde, me caso con la chica que vino
                                con el vino.
                                <br />
                                ✨ Y vino para quedarse ✨
                            </p>
                        </div>
                    </div>
                </div>
                {/* Image Column */}
                <div
                    class="w-full h-64 md:h-80 rounded-lg overflow-hidden shadow-lg md:order-2 relative flex items-center justify-center"
                    data-aos="fade-left"
                >
                    <img
                        src="/elena-marina/first.jpg"
                        alt="Elena y Marina"
                        class="w-full h-full object-cover"
                    />
                </div>
            </section>
        </div>
    </main>

    <script>
        // Tab functionality
        const tabButtons = document.querySelectorAll(".tab-button");
        const tabPanes = document.querySelectorAll(".tab-pane");

        tabButtons.forEach((button) => {
            button.addEventListener("click", () => {
                // Remove active class from all buttons and panes
                tabButtons.forEach((btn) => {
                    btn.classList.remove("active");
                    btn.classList.remove("border-gray-800");
                    btn.classList.remove("text-gray-800");
                    btn.classList.add("border-transparent");
                    btn.classList.add("text-gray-500");
                });
                tabPanes.forEach((pane) => pane.classList.add("hidden"));

                // Add active class to clicked button and corresponding pane
                button.classList.add("active");
                button.classList.add("border-gray-800");
                button.classList.add("text-gray-800");
                button.classList.remove("border-transparent");
                button.classList.remove("text-gray-500");

                const tabId = button.getAttribute("data-tab");
                document.getElementById(tabId).classList.remove("hidden");
            });
        });
    </script>
</Layout>
